body {
    width: 750px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    background-color: #2D7053;
    min-height: 236px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    width: 142px;
    margin: 47px 38px;
}

.top-text {
    display: inline-block;
    width: 134px;
    font-size: 34px;
    color: white;
}

.top-right {
    display: inline-block;
    width: 85px;
    margin: 20px 0 20px 259px;
}

.top-line {
    background-color: white;
    height: 13px;
    border-radius: 10px;
    margin: 15px 0;
}

.photo {
    display: inline-block;
    min-height: 300px;
}

#main-image {
    height: 466px;
}

#main-pic {
    height: 345px;
}

.main-button {
    background-color: #CB9223;
    width: 342px;
    height: 75px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.button-text {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    color: white;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#content-top {
    margin-top: 80px;
}

.content {
    box-sizing: border-box;
}

.inner {
    display: inline-block;
    vertical-align: middle;
    padding: 3px 5px;
    width: 40%;
    line-height: normal;
}

.text-top {
    display: inline-block;
    width: 245px;
}

.text-top h2 {
    font-weight: initial;
}

#context {
    width: 590px;
    font-size: 21px;
}

#photo-content {
    border-radius: 140px;
    margin: 10px;
}

#paragraph {
    margin-top: 46px;
    margin-bottom: 43px;
    font-size: 28px;
}

#context-footer{
    margin-bottom: 44px;
    font-size: 24px;
}

.footer {
    background-color: #888888;
    height: 154px;
    margin-top: 49px;
    padding: 29px;
    color: white;
    box-sizing: border-box;
    text-align: right;
}

#logo_footer {
    float: left;
}

#address-left {
    display: inline-block;
    margin-right: 26px;
}

#address-right {
    display: inline-block;
    margin-top: 26px;
}